In [1]:
import nfl_data_py as nfl
import numpy as np

np.float_ = np.float64
pbp_data = nfl.import_pbp_data([2024], include_participation=False)
roster_data = nfl.import_weekly_rosters([2024])
roster_data

2024 done.
Downcasting floats.

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2024,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,42.762
1,2024,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,42.839
2,2024,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,42.782
3,2024,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,42.716
4,2024,SEA,OL,T,70.0,DEV,Jason Peters,Jason,Peters,1982-01-22,...,P07,Jason,PET150539,29550,32005045-5415-0539-96c0-31361312950f,2004,2004.0,None,NaN,42.820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29290,2024,NO,DL,DT,76.0,RES,Camron Peterson,Camron,Peterson,1999-09-13,...,R01,Camron,PAT382575,58061,32005041-5438-2575-6a39-c3744d58b516,2024,2024.0,None,NaN,25.161
29291,2024,NO,DL,DT,76.0,RES,Camron Peterson,Camron,Peterson,1999-09-13,...,R01,Camron,PAT382575,58061,32005041-5438-2575-6a39-c3744d58b516,2024,2024.0,None,NaN,25.084
29292,2024,IND,OL,T,76.0,DEV,Jack Wilson,Jack,Wilson,NaT,...,P01,Jack,WIL715047,58027,None,2024,2024.0,None,NaN,NaN
29293,2024,IND,OL,T,76.0,DEV,Jack Wilson,Jack,Wilson,NaT,...,P01,Jack,WIL715047,58027,None,2024,2024.0,None,NaN,NaN
29294,2024,IND,OL,T,NaN,DEV,Jack Wilson,Jack,Wilson,NaT,...,P01,Jack,WIL715047,58027,None,2024,2024.0,None,NaN,NaN