In [1]:
import nfl_func

In [2]:
roster_columns = ['team', 'position', 'depth_chart_position', 'jersey_number','status', 'player_name', 'first_name', 'last_name', 'birth_date', 'height', 'weight', 'player_id', 'years_exp']
roster_data = nfl_func.get_roster_data(2023, roster_columns)
roster_data

,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,height,weight,player_id,years_exp
0,PHI,OL,T,74.0,CUT,Bernard Williams,Bernard,Williams,None,80.0,286,00-0017724,29
1,SEA,OL,T,70.0,INA,Jason Peters,Jason,Peters,1982-01-22,76.0,328,00-0022531,19
2,NYJ,QB,QB,8.0,INA,Aaron Rodgers,Aaron,Rodgers,1983-12-02,74.0,225,00-0023459,18
3,ARI,K,K,5.0,ACT,Matt Prater,Matt,Prater,1984-08-10,70.0,201,00-0023853,17
4,CHI,TE,TE,84.0,ACT,Marcedes Lewis,Marcedes,Lewis,1984-05-19,78.0,267,00-0024243,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3085,CHI,TE,TE,81.0,CUT,Lachlan Pitts,Lachlan,Pitts,None,78.0,255,00-0039188,0
3086,NE,OL,T,72.0,CUT,Micah Vanterpool,Micah,Vanterpool,None,78.0,315,00-0039189,0
3087,MIN,RB,RB,46.0,CUT,Aaron Dykes,Aaron,Dykes,None,71.0,202,00-0039191,0
3088,PHI,DL,DT,67.0,CUT,Caleb Sanders,Caleb,Sanders,None,73.0,270,00-0039192,0
3089,DEN,LB,LB,NaN,DEV,Durell Nchami,Durell,Nchami,None,NaN,260,None,0

In [12]:
all_players = nfl_func.get_players()
player_columns = ['status', 'display_name', 'first_name', 'last_name', 'gsis_id', 'birth_date', 'college_name', 'position_group', 'position', 'height', 'weight', 'years_of_experience', 'team_abbr', 'current_team_id', 'football_name', 'entry_year', 'rookie_year', 'draft_number', 'college_conference']
all_players = all_players[player_columns]

,status,display_name,first_name,last_name,gsis_id,birth_date,college_name,position_group,position,height,weight,years_of_experience,team_abbr,current_team_id,football_name,entry_year,rookie_year,draft_number,college_conference
0,RET,'Omar Ellison,'Omar,Ellison,00-0004866,1971-10-08,None,WR,WR,73.0,200.0,2,LAC,4400,None,NaN,NaN,NaN,None
1,ACT,A'Shawn Robinson,A'Shawn,Robinson,00-0032889,1995-03-21,Alabama,DL,DT,76.0,330.0,9,CAR,0750,A'Shawn,2016.0,2016.0,46.0,Southeastern Conference
2,ACT,A.J. Arcuri,A.J.,Arcuri,00-0037845,1997-08-13,Michigan State,OL,T,79.0,320.0,2,LA,2510,A.J.,2022.0,2022.0,261.0,Big Ten Conference
3,ACT,A.J. Barner,A.J.,Barner,00-0039793,2002-05-03,Michigan,TE,TE,78.0,251.0,0,SEA,4600,A.J.,2024.0,2024.0,121.0,Big Ten Conference
4,RES,A.J. Bouye,Arlandus,Bouye,00-0030228,1991-08-16,Central Florida,DB,CB,72.0,191.0,8,CAR,0750,A.J.,2013.0,2013.0,NaN,American Athletic Conference
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20731,ACT,Zuri Henry,Zuri,Henry,00-0039689,2000-04-12,Texas-El Paso,OL,T,78.0,293.0,0,NE,3200,Zuri,2024.0,2024.0,NaN,Conference USA
20732,RET,Zuriel Smith,Zuriel,Smith,00-0022024,1980-01-15,None,WR,WR,71.0,174.0,2,NE,3200,None,NaN,NaN,NaN,None
20733,CUT,Zurlon Tipton,Zurlon,Tipton,00-0030855,1989-04-27,Central Michigan,RB,RB,72.0,230.0,2,IND,2200,Zurlon,2014.0,2014.0,NaN,Mid-American Conference
20734,CUT,Zyon Gilbert,Zyon,Gilbert,00-0037373,1999-02-04,Florida Atlantic,DB,CB,72.0,174.0,1,GB,1800,Zyon,2022.0,2022.0,NaN,Conference USA
20735,ACT,Zyon McCollum,Zyon,McCollum,00-0037268,1999-05-03,Sam Houston State,DB,CB,76.0,200.0,3,TB,4900,Zyon,2022.0,2022.0,157.0,Southland Conference

pandas.core.frame.DataFrame

nfl_data_py contains the following functions

cache_pbp

clean_nfl_data

import_combine_data

import_contracts

import_depth_charts

import_draft_picks

import_draft_values

import_ids

import_injuries

import_ngs_data

import_officials

import_pbp_data

import_pfr

import_players

import_qbr

import_rosters

import_sc_lines

import_schedules

import_seasonal_data

import_team_desc

import_weekly_data

import_win_totals

see_pbp_cols

see_weekly_cols